body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
}
a {
	text-decoration: none
}
.wrapper {
	width: 100%;
	position: relative
}
.sidebar-wrapper {
	width: 250px;
	height: calc(100% - 60px);
	position: fixed;
	top: 60px;
	bottom: 0;
	left: 0;
	background: rgb(0 0 0 / 15%);
	border-right: 1px solid rgb(255 255 255 / 15%);
	z-index: 11;
	box-shadow: 0 .3rem .8rem rgba(0, 0, 0, .12)!important;
	transition: all .2s ease-out
}
.sidebar-header {
	width: 250px;
	height: 60px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	padding: 0 15px;
	z-index: 5;
	background: rgb(255 255 255 / 15%);
	border-bottom: 1px solid rgb(255 255 255 / 12%);
}
.logo-icon {
	width: 30px
}
.logo-text {
	font-size: 22px;
	margin-left: 10px;
	margin-bottom: 0;
	letter-spacing: 1px;
	color: #ffffff
}
.toggle-icon {
	font-size: 22px;
	cursor: pointer;
	color: #ffffff
}
.topbar {
	position: fixed;
	top: 0;
	left: 250px;
	right: 0;
	height: 60px;
	background: rgb(0 0 0 / 15%);
	border-bottom: 1px solid rgb(255 255 255 / 15%);
	z-index: 10;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important
}
.topbar .navbar {
	width: 100%;
	height: 60px;
	padding-left: 30px;
	padding-right: 30px
}
.page-wrapper {
	height: 100%;
	margin-top: 60px;
	margin-bottom: 0px;
	margin-left: 250px
}
.page-content {
	padding: 1.5rem 1.5rem 0 1.5rem
}
.wrapper.toggled .topbar {
	left: 70px
}
.wrapper.toggled .page-wrapper {
	margin-left: 70px
}
.sidebar-wrapper ul {
	padding: 0;
	margin: 0;
	list-style: none;
	background: 0 0
}
.sidebar-wrapper .metismenu {
	background: 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px;
	margin-top: 0px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}
.sidebar-wrapper .metismenu li+li {
	margin-top: 5px
}
.sidebar-wrapper .metismenu li:first-child {
	margin-top: 5px
}
.sidebar-wrapper .metismenu li:last-child {
	margin-bottom: 5px
}
.sidebar-wrapper .metismenu>li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative
}
.sidebar-wrapper .metismenu a {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 8px 15px;
	font-size: 15px;
	color: rgb(255 255 255 / 75%);
	outline-width: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	letter-spacing: .5px;
	border: 1px solid #ffffff00;
	transition: all .3s ease-out
}
.sidebar-wrapper .metismenu a .parent-icon {
	font-size: 24px;
	line-height: 1
}
.sidebar-wrapper .metismenu a .menu-title {
	margin-left: 10px
}
.sidebar-wrapper .metismenu ul a {
	padding: 6px 15px 6px 15px;
	font-size: 15px;
	border: 0
}
.sidebar-wrapper .metismenu ul a i {
	margin-right: 10px
}
.sidebar-wrapper .metismenu ul {
	border: 1px solid rgb(255 255 255 / 12%);
	background: rgb(255 255 255 / 10%);
}
.sidebar-wrapper .metismenu ul ul a {
	padding: 8px 15px 8px 30px
}
.sidebar-wrapper .metismenu ul ul ul a {
	padding: 8px 15px 8px 45px
}
.sidebar-wrapper .metismenu .mm-active>a, .sidebar-wrapper .metismenu a:active, .sidebar-wrapper .metismenu a:focus, .sidebar-wrapper .metismenu a:hover {
	color: #ffffff;
	text-decoration: none;
	background: rgb(255 255 255 / 15%);
}
.menu-label {
	padding: 20px 15px 5px 5px;
	color: #b0afaf;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .5px
}
.metismenu .has-arrow:after {
	position: absolute;
	content: "";
	width: .5em;
	height: .5em;
	border-style: solid;
	border-width: 1.2px 0 0 1.2px;
	border-color: initial;
	right: 15px;
	transform: rotate(-45deg) translateY(-50%);
	transform-origin: top;
	top: 50%;
	transition: all .3s ease-out
}
/*регулир внешнюю панель*/
@media screen and (min-width: 1025px) {
	.wrapper.toggled.sidebar-hovered .sidebar-wrapper {
		background-color: #171717;
 }
	.wrapper.toggled.sidebar-hovered .sidebar-header {
		background-color: #171717;
		border-bottom: 1px solid rgba(255, 255, 255, 0.12);
 }
	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .logo-text {
		display: none
 }
	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper {
		width: 70px
 }
	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
		width: 70px
 }
	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .toggle-icon {
		display: none
 }
	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
		justify-content: center
 }
	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
		width: 70px
 }
	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu a {
		justify-content: center
 }
	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu .menu-title {
		display: none
 }
	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu li ul {
		display: none
 }
	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu li.menu-label {
		display: none
 }
	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu .has-arrow:after {
		display: none
 }
}
/*вспомогательное*/
.right-15 {
	right: 15px!important
}
.font-13 {
	font-size: 13px
}
.font-14 {
	font-size: 14px
}
.font-18 {
	font-size: 18px
}
.font-20 {
	font-size: 20px
}
.font-22 {
	font-size: 22px
}
.font-24 {
	font-size: 24px
}
.font-30 {
	font-size: 30px
}
.font-35 {
	font-size: 35px
}
.font-50 {
	font-size: 50px
}
.font-60 {
	font-size: 60px
}
.radius-30 {
	border-radius: 30px
}
.radius-10 {
	border-radius: 10px
}
.radius-15 {
	border-radius: 15px
}
.cursor-pointer {
	cursor: pointer
}

input::placeholder {
	color: #fff!important;
	opacity: .3!important
}
.topbar .navbar .navbar-nav .nav-link {
	padding-right: .8rem;
	padding-left: .8rem;
	color: #ffffff;
	font-size: 22px
}
.dropdown-toggle-nocaret:after {
	display: none
}
.user-img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 0 solid #e5e5e5;
	padding: 0
}
.user-info .user-name {
	font-size: 15px;
	font-weight: 500;
	color: #fff
}
.user-info .designattion {
	font-size: 13px;
	color: rgb(255 255 255 / 64%);
}
.user-box {
	display: flex;
	align-items: center;
	height: 60px;
	border-left: 1px solid rgb(255 255 255 / 15%);
	margin-left: 1rem
}
.dropdown-large {
	position: relative
}
.dropdown-large .dropdown-menu {
	width: 360px;
	border: 0;
	padding: 0 0;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}
.topbar .navbar .dropdown-large .dropdown-menu::after {
	content: '';
	width: 13px;
	height: 13px;
	background: #1e1e1e;
	position: absolute;
	top: -6px;
	right: 16px;
	transform: rotate(45deg);
	border-top: 1px solid #767676;
	border-left: 1px solid #767676
}
.topbar .navbar .dropdown-menu::after {
	content: '';
	width: 13px;
	height: 13px;
	background: #1e1e1e;
	position: absolute;
	top: -6px;
	right: 16px;
	transform: rotate(45deg);
	border-top: 1px solid #767676;
	border-left: 1px solid #767676
}
.dropdown-large .msg-header {
	padding: .8rem 1rem;
	border-bottom: 1px solid rgb(237 237 237 / 20%);
	background-clip: border-box;
	background: #1e1e1e;
	text-align: left;
	display: flex;
	align-items: center;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem
}
.dropdown-large .msg-header .msg-header-title {
	font-size: 15px;
	color: rgb(255 255 255 / 85%);
	margin-bottom: 0;
	font-weight: 500
}
.dropdown-large .msg-header .msg-header-clear {
	font-size: 12px;
	color: rgb(255 255 255 / 85%);
	margin-bottom: 0
}
.dropdown-large .msg-footer {
	padding: .8rem 1rem;
	color: rgb(255 255 255 / 85%);
	border-top: 1px solid rgb(255 255 255 / 15%);
	background-clip: border-box;
	background: 0 0;
	font-size: 14px;
	font-weight: 500;
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem
}
.dropdown-large .user-online {
	position: relative
}
.dropdown-large .msg-name {
	font-size: 14px;
	margin-bottom: 0;
	color: rgb(255 255 255);
}
.dropdown-large .msg-info {
	font-size: 13px;
	margin-bottom: 0;
	color: rgb(255 255 255 / 50%);
}
.dropdown-large .msg-avatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 15px
}
.dropdown-large .msg-time {
	font-size: 12px;
	margin-bottom: 0;
	color: rgb(255 255 255 / 50%);
}
.dropdown-large .user-online:after {
	content: '';
	position: absolute;
	bottom: 1px;
	right: 17px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	box-shadow: 0 0 0 2px #fff;
	background: #16e15e
}
.dropdown-large .dropdown-menu .dropdown-item {
	padding: .5rem 1.3rem;
	border-bottom: 1px solid rgb(255 255 255 / 15%);
}
.header-message-list {
	position: relative;
	height: 360px
}
.header-notifications-list {
	position: relative;
	height: 360px
}
.dropdown-large .notify {
	width: 45px;
	height: 45px;
	line-height: 45px;
	font-size: 22px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	background-color: rgb(255 255 255 / 15%);
	margin-right: 15px
}
.app-box {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	font-size: 26px;
	justify-content: center;
	cursor: pointer;
	border-radius: 10px;
	color: #fff;
	background-color: rgb(255 255 255 / 15%)
}
.app-title {
	font-size: 14px
}
.user-box .dropdown-menu i {
	vertical-align: middle;
	margin-right: 10px
}
.dropdown-menu {
	-webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
	border: 0 solid #e9ecef;
	font-size: 14px
}
.topbar .navbar .dropdown-menu {
	-webkit-animation: .6s cubic-bezier(.25, .8, .25, 1) 0s normal forwards 1 animdropdown;
	animation: .6s cubic-bezier(.25, .8, .25, 1) 0s normal forwards 1 animdropdown
}

@media screen and (max-width: 767px) {
	.user-box .user-info {
		display: none
 }
}
@media screen and (max-width: 620px) {
	.topbar .navbar .dropdown-menu::after {
		display: none
 }
	.topbar .navbar .dropdown {
		position: static!important
 }
	.topbar .navbar .dropdown-menu {
		width: 100%!important
 }
}
