@font-face {
	font-family: boxicons;
	font-weight: 400;
	font-style: normal;
	src: url("../../fonts/boxicons.eot");
	src: url("../../fonts/boxicons.eot") format('embedded-opentype'),  url("../../fonts/boxicons.woff") format('woff');
}
.bx {
	font-family: boxicons!important;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	line-height: inherit;
	display: inline-block;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.bx-spin {
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite
}
.bx-spin-hover:hover {
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite
}
.bx-arrow-to-left:before {
	content: "\e91d"
}
.bx-cog:before {
	content: "\e9d0"
}
.bx-home-alt:before {
	content: "\ea75"
}
.bx-home-circle:before {
	content: "\ea76"
}
.bx-log-out-circle:before {
	content: "\eab2"
}
.bx-user:before {
	content: "\ebbf"
}
.bx-user-circle:before {
	content: "\ebc1"
}

