@font-face {
	font-family: boxicons;
	font-weight: 400;
	font-style: normal;
	src: url("../../fonts/boxicons.eot");
	src: url("../../fonts/boxicons.eot") format('embedded-opentype'),  url("../../fonts/boxicons.woff") format('woff');
}
.bx {
	font-family: boxicons!important;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	line-height: inherit;
	display: inline-block;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.bx-spin {
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite
}
.bx-spin-hover:hover {
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
.bx-heart-circle{
    font-size: x-large;
}
.bx-arrow-to-left:before {
	content: "\e91d"
}
.bx-cog:before {
	content: "\e9d0"
}
.bx-heart:before {
    content: "\ea6c"
}
.bx-heart-circle:before {
    content: "\ea6d"
}
.bx-home-alt:before {
	content: "\ea75"
}
.bx-home-circle:before {
	content: "\ea76"
}
.bx-log-out-circle:before {
	content: "\eab2"
}
.bx-user:before {
	content: "\ebbf"
}
.bx-user-circle:before {
	content: "\ebc1"
}
.bx-btn{
    padding: 4px 60px;
    line-height: 0.8
}
.bx-btn:focus{
    color:#fce38a ;
}

